body {
    overflow-x: hidden;
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    margin: 0 auto;
    min-width: 250px;
    width: 66%;
}

.calendar {
    padding: 3%;
    background-color: white;
    height: auto;
    margin: 1%;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}

.center {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.lenta {
    display: flex;
    width: 66%;
    min-width: 250px;
    justify-content: center;
    flex-direction: column;
}

.content {
    background-color: white;
    text-align: center;
    border-radius: 10px;
    height: 100%;
    margin: 1%;
    min-height: 50vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-content {
    width: 50vh;
}



.title {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 150%;
}

.content p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100; 
    font-size: 100%;
    text-align: center;   
}

.filter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.card-filter {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1%;
}

@media screen and (max-width: 700px) {
    .card-filter b {
        max-width: 50px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}



.card-filter img {
    border-radius: 10px; 
    background-color: white;
    width: 100%;
    min-width: 50px;
    min-height: 50px;
}

.filter a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
}

.img svg {
    width: 50%;
    fill: gray;
}